<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}

<!-- Название у нас будет products -->
{% block title %}
Новости
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
<h1>Все Новости</h1>
   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}

       <input type="submit" value="Найти" />
   </form>
{% if posts %}
    {% for post in posts %}
       <!-- Не забываем, что переменные в шаблоне ничем не отличаются
        от переменных в Python. Здесь также можно получать доступ к
        полям объекта модели. Например, здесь мы выводим имя,
        в следующем столбце описание, и т.д.  -->
    <a href={{ post.id }}><h1>{{ post.title_post|censor }}</h1></a>
    <p>{{ post.text_post|censor|truncatechars:21}}</p>
    <p>Дата добавления: {{ post.date_of_creation|date:'d.m.Y'}}</p>
    <hr>

    {% endfor %}
{% else %}
    <h2>Постов не найдено</h2>
{% endif %}

 {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}